streamlit
sentence-transformers
pdfplumber
PyPDF2
numpy
pandas
transformers
torch
pytesseract
pypdfium2
pymupdf
faiss-cpu  # optional: remove this line if Streamlit cloud can't install it
