streamlit==1.32.0
pdfplumber==0.10.2
PyPDF2==3.0.1
pymupdf==1.22.5
pypdfium2==5.1.0
pytesseract==0.3.10
Pillow==9.5.0
numpy==1.26.4
faiss-cpu==1.7.4.post2
sentence-transformers==2.2.2
scikit-learn==1.3.2
pandas==2.1.4
requests
